# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Built war
adv_prog_project/out/
adv_prog_project/target/adv_prog_project-1.0-SNAPSHOT/
adv_prog_project/target/classes/
gadv_prog_project/target/enerated-sources/
adv_prog_project/doc/
adv_prog_project/index-files/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
