<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Esse3-Bootleg</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>it.unitn.disi.advprog.gennaro.adv_prog_project.filters.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>it.unitn.disi.advprog.gennaro.adv_prog_project.filters.JspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>it.unitn.disi.advprog.gennaro.adv_prog_project.filters.StudentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TeacherFilter</filter-name>
        <filter-class>it.unitn.disi.advprog.gennaro.adv_prog_project.filters.TeacherFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>JspFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/restricted/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/StudentServlet</url-pattern>
        <url-pattern>/HomeServlet</url-pattern>
        <url-pattern>/TeacherServlet</url-pattern>
        <url-pattern>/AssignGradeServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/StudentServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <url-pattern>/TeacherServlet</url-pattern>
        <url-pattern>/AssignGradeServlet</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.student.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.teacher.TeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignGradeServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.teacher.AssignGradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.auth.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>it.unitn.disi.advprog.gennaro.adv_prog_project.servlet.admin.AddStudentServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignGradeServlet</servlet-name>
        <url-pattern>/AssignGradeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

</web-app>